#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_COMPAT=4
export DH_OPTIONS=

CFLAGS+=$(if $(findstring debug,$(DEB_BUILD_OPTIONS)),-g,)
CFLAGS+=$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),-O0,-O2)
APXS=/usr/bin/apxs2

build: build-stamp
build-stamp:
	dh_testdir
	$(APXS) -c mod_asn.c
	# FIXME: I don't know how this is done properly (install the scripts without .py ending):
	cp -p asn_get_routeviews.py asn_get_routeviews
	cp -p asn_import.py asn_import
	touch $@
clean:
	dh_testdir
	dh_testroot
	dh_clean .libs/* mod_asn.l* mod_asn.s* mod_asn.o build-stamp install-stamp
	$(RM) -r .libs

binary-indep: DH_OPTIONS=-i
binary-indep: build

binary-arch: DH_OPTIONS=-a
binary-arch: build
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_installdeb
	dh_fixperms
	dh_shlibdeps
	dh_compress
	dh_strip
	dh_md5sums
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean build
